[submodule "SS-Core/src/main/kotlin/com/github/syari/ss/tempalte/message"]
	path = SS-Core/src/main/kotlin/com/github/syari/ss/tempalte/message
	url = https://github.com/SecondStoryServer/SS-Plugins-Message
